<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
     


<body>
    
     <%- include("../partials/navbar.ejs") %>

    <div class="container-fluid">
        
        <%- body %>
    </div>

    <%- include("../partials/footer.ejs") %>


    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>